.nav-wrap
  position: sticky
  position: -webkit-sticky
  margin-top: -0.5rem
  top: -2px
  border-radius: $border-bar
  background: var(--alpha20)
  padding: 0 0.5rem
  z-index: 8
  margin-bottom: 1px
  margin: 0.4rem 1rem 0 1rem

nav.cap
  display: flex
  overflow: scroll visible
  scrollbar(0, 0)
  >p
    margin: 0
  a
    padding: .25rem 0.75rem
    margin: 10px 0.25rem 8px 0.25rem
    line-height: 2
    color: var(--text-p2)
    border-radius: $border-button
    font-weight: 500
    white-space: nowrap
    position: relative
    z-index: 1
    &:after
      height: 2px
      position: absolute
      bottom: -8px
      left: 0.75rem
      right: 0.75rem
      background: $color-theme
      border-radius: 2px
      pointer-events: none
    &:hover
      background: var(--alpha60)
    &.active, &:hover
      color: var(--text-p1)
    &.active
      background: var(--alpha60)
      box-shadow: $boxshadow-button
    &.active:after
      content: ''
  a+a
    margin-left: 4px

@media screen and (max-width: $device-mobile-max)
  .nav-wrap
    margin-top: 0
    padding-left: 0
    padding-right: 0
    nav
      a:first-child
        margin-left: 1rem
      a:last-child
        margin-right: 1rem
