.tag-plugin.chat
  margin: .9em

.tag-plugin.chat .chat-item
  margin-bottom: .9em
  border-radius: 8px
  position: relative
  display: flex
  flex-direction: column

.tag-plugin.chat .chat-title
  text-align: center
  color: var(--text-p1)

.tag-plugin.chat .chat-item.left
  align-items: flex-start
  .message
    background-color: var(--block)

.tag-plugin.chat .chat-item.right
  align-items: flex-end;
  .message
    background-color: var(--theme-link-opa)

.tag-plugin.chat .user
  font-size: .8rem
  color: var(--text-p3)

.tag-plugin.chat .message
  padding: 0 .7rem
  border-radius: $border-card
  max-width: 80%
  text-align: left
  width: fit-content
