.widget-wrapper.webinfo
  .widget-body
    border-radius: $border-card
    padding: 8px 16px
    background: var(--card)
    border: 1px solid var(--block-border)
    .webinfo-item
      display: block
      padding: 8px 0
      div
        &:first-child
          display inline-block
        &:last-child
          display inline-block
          float right