.md-text.error-page
  text-align: center
  margin-top: 2rem
  img#error
    width: 30vw
    max-height: 150px
    margin-bottom: 2rem
  h1
    font-size: 4rem
    margin-bottom: 0
  p.what,p.why
    margin: 0.5em
  p.why
    font-size: $fs-13
  a#back
    margin: 2rem 0
    display: inline-block
    background: var(--card)
    color: var(--text)
    border: 2px solid var(--block-border)

@media screen and (max-width: $device-tablet)
  .md-text.error-page
    margin-top: 4rem
